<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="home">
    <img src="/images/00.jpg" alt="">
    <div class="login">
      <div class="item">
        <div class="t left name">姓名：</div>
        <input id="username" class="left" type="text">
      </div>
      <div class="item">
        <div class="t left">个人密钥：</div>
        <input id="account" class="left" type="text">
      </div>

    </div>
    <div class="button" onclick="login()">
      查看我的年度账单&gt;&gt;
    </div>
  </body>
</html>
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
  function login(){
    var account = document.getElementById('account').value;
    var username = document.getElementById('username').value;
    if(account && username){
      var url = '/login';
      $.ajax({
        url: url,
        type:'POST',
        data:{
          username:username,
          account:account
        },
        success(data, status){
          if(data.indexOf('user')==-1){
            alert(`输入正确的姓名和账号`);
          }else{
            location.href = data;
          }
        }
      });
    }else{
      alert(`请输入金三账号和用户名`);
    }
  }
</script>