<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="home">
    <img src="/images/00.jpg" alt="">
    <div class="button" onclick="location.href='/step1?user=1';">
      <img src="/images/button.png" alt="">
    </div>
  </body>
</html>