<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="home">
    <img src="/images/00.jpg" alt="">
    <div class="login">
      <div class="item user">
        <span class="t">金三账号：</span>
        <input type="text" class="">
      </div>
      <div class="item password">
        <span class="t">姓&nbsp;&nbsp;&nbsp;&nbsp;名：</span>
        <input type="text">
      </div>
    </div>
    <div class="button" onclick="location.href='/step1?user=1';">
      <img src="/images/button.png" alt="">
    </div>
  </body>
</html>