<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="home step1 color5 line1">
    <img src="/images/05.jpg" alt="">
    <div class="desc">
        <div class="line">这一年</div>
        <div class="line">你休假了<%=day%>天</div>
        <div class="line">觉得累了就停下</div>
        <div class="line">放慢脚步，放空自己</div>
        <div class="line">休息好再出发</div>
    </div>
    <div class="array">
      <img src="/images/arr.png" alt="">
    </div>
  </body>
</html>
