<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="home step1 color4 line2">
    <img src="/images/04.jpg" alt="">
    <div class="desc">
        <div class="line">如果没有特别幸运，那么请先特别努力</div>
        <div class="line">这一年</div>
        <div class="line">你发布了 <span class="hour"><%=wordRecords%></span>条工作纪实</div>
        <div class="line">自拟了<span class="hour"><%=zini%></span>条工作任务</div>
        <div class="line">无奋斗，不青春</div>
    </div>
    <div class="array">
      <img src="/images/arr.png" alt="">
    </div>
  </body>
</html>
