<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="home step1 color2 line1">
    <img src="/images/02.jpg" alt="">
    <div class="desc">
      <div class="line">这一年，</div>
      <div class="line">你的最早打卡时间是 <span class="hour number hidden"><%=zzDaka%></span></div>
      <div class="line">最晚打卡时间是 <span class="hour number hidden"><%=zwDaka%></span></div>
      <div class="line">你的 <span class="t">努力</span>，我们记得，时光也记得</div>
      <div class="line">晨间的露珠，夜空的繁星，他们都记得</div>
    </div>
    <div class="array">
      <img src="/images/arr.png" alt="">
    </div>
    <audio src="/images/b.mp3" controls="controls" autoplay="autoplay"></audio>
  </body>
  <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
  <script>
      $(document).ready(function(){
        $('.number').fadeIn(3000);
    });

      var startx, starty;
      //获得角度
      function getAngle(angx, angy) {
          return Math.atan2(angy, angx) * 180 / Math.PI;
      };

      //根据起点终点返回方向 1向上 2向下 3向左 4向右 0未滑动
      function getDirection(startx, starty, endx, endy) {
          var angx = endx - startx;
          var angy = endy - starty;
          var result = 0;

          //如果滑动距离太短
          if (Math.abs(angx) < 2 && Math.abs(angy) < 2) {
              return result;
          }

          var angle = getAngle(angx, angy);
          if (angle >= -135 && angle <= -45) {
              result = 1;
          } else if (angle > 45 && angle < 135) {
              result = 2;
          } else if ((angle >= 135 && angle <= 180) || (angle >= -180 && angle < -135)) {
              result = 3;
          } else if (angle >= -45 && angle <= 45) {
              result = 4;
          }

          return result;
      }
      //手指接触屏幕
      document.addEventListener("touchstart", function(e) {
          startx = e.touches[0].pageX;
          starty = e.touches[0].pageY;
      }, false);
      //手指离开屏幕
      document.addEventListener("touchend", function(e) {
          var endx, endy;
          endx = e.changedTouches[0].pageX;
          endy = e.changedTouches[0].pageY;
          var direction = getDirection(startx, starty, endx, endy);
          switch (direction) {
              case 0:
                  console.log("未滑动！");
                  break;
              case 1:
                  var user = location.search.split('user=')[1]
                  var url = '/step3?user='+user;
                  location.href = url;
                  break;
              case 2:
              var user = location.search.split('user=')[1]
                  var url = '/step1?user='+user;
                  location.href = url;
                  break;
              case 3:
                  console.log("向左！")
                  break;
              case 4:
                  console.log("向右！")
                  break;
              default:
          }
      }, false);

  </script>
</html>
