<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="home step1 color4 line1">
    <img src="/images/04.jpg" alt="">
    <div class="desc">
        <div class="line">如果没有特别幸运，那么请先特别努力</div>
        <div class="line">这一年</div>
        <div class="line">你发布了 <span class="hour"><%=wordRecords%></span>条工作纪实</div>
        <div class="line">自拟了<span class="hour"><%=zini%></span>条工作任务</div>
        <div class="line">无奋斗，不<span class="w">青春</span></div>
    </div>
    <div class="array">
      <img src="/images/arr.png" alt="">
    </div>
  </body>
  <script>
      var startx, starty;
      //获得角度
      function getAngle(angx, angy) {
          return Math.atan2(angy, angx) * 180 / Math.PI;
      };

      //根据起点终点返回方向 1向上 2向下 3向左 4向右 0未滑动
      function getDirection(startx, starty, endx, endy) {
          var angx = endx - startx;
          var angy = endy - starty;
          var result = 0;

          //如果滑动距离太短
          if (Math.abs(angx) < 2 && Math.abs(angy) < 2) {
              return result;
          }

          var angle = getAngle(angx, angy);
          if (angle >= -135 && angle <= -45) {
              result = 1;
          } else if (angle > 45 && angle < 135) {
              result = 2;
          } else if ((angle >= 135 && angle <= 180) || (angle >= -180 && angle < -135)) {
              result = 3;
          } else if (angle >= -45 && angle <= 45) {
              result = 4;
          }

          return result;
      }
      //手指接触屏幕
      document.addEventListener("touchstart", function(e) {
          startx = e.touches[0].pageX;
          starty = e.touches[0].pageY;
      }, false);
      //手指离开屏幕
      document.addEventListener("touchend", function(e) {
          var endx, endy;
          endx = e.changedTouches[0].pageX;
          endy = e.changedTouches[0].pageY;
          var direction = getDirection(startx, starty, endx, endy);
          switch (direction) {
              case 0:
                  console.log("未滑动！");
                  break;
              case 1:
                  var user = location.search.split('user=')[1]
                  var url = '/step5?user='+user;
                  location.href = url;
                  break;
              case 2:
              var user = location.search.split('user=')[1]
                  var url = '/step3?user='+user;
                  location.href = url;
                  break;
              case 3:
                  console.log("向左！")
                  break;
              case 4:
                  console.log("向右！")
                  break;
              default:
          }
      }, false);

  </script>
</html>
