<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="home step1 color2 line1">
    <img src="/images/02.jpg" alt="">
    <div class="desc">
      <div class="line">这一年，</div>
      <div class="line">你的最早打卡时间是 <span class="hour"><%=zzDaka%></span></div>
      <div class="line">昨晚打卡时间是 <span class="hour"><%=zwDaka%></span></div>
      <div class="line">你的努力，我们记得，时光也记得</div>
      <div class="line">晨间的露珠，夜空的繁星，他们都记得</div>
    </div>
    <div class="array">
      <img src="/images/arr.png" alt="">
    </div>
  </body>
</html>
