body {
  -webkit-text-size-adjust: none;
  margin: 0;
  padding: 0;
  font: 14px "SimHei","Lucida Grande", Helvetica, Arial, sans-serif; }

  .home{
    position: relative;
  }
  input,button,select,textarea{outline:none}
  .left{
    float: left;
  }

  audio{
    width: 1px;
    height: 1px;
  }

  .hidden{
    display: none;
  }

  .clear{
    clear: both;
  }

  img{
    width: 100%;
    margin: 0;
    padding: 0;
  }


  .number{
    color:#595757;
  }

  .color1{
    color: #7263aa;
  }

  .color2{
    color: #4173ba;
  }

  .color3{
    color:#138c3c
  }

  .color4{
    color: #ec5214;
  }

  .color5{
    color:#e57a72;
  }
  .login{
    width: 60%;
    left: 20%;
    position: absolute;
    z-index: 1;
    top: 30%;
  }

  .login .item{
    height: 30px;
    margin: 25px 0;
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 0 2%;
  }

  .login .item .t{
    color: #FFF;
    width: 35%;
    text-align: justify;
    padding-top: 7px;
  }

  .login .item .name:after {
    content:'';
    width: 100%;
    display: inline-block;
    overflow: hidden;
    height: 0;
  }

  .login .item input{
      border: 0;
      height: 30px;
      border-radius: 10px;
      width: 55%;
      background: none;
      color: #fff;
    }

.home .button{
  width: 50%;
  position: absolute;
  z-index: 1;
  left: 25%;
  top: 50%;
  text-align: center;
  color: #3c419d;
}

.step1 .desc{
  position: absolute;
  top: 10%;
  left: 5%;
  width: 90%;
  background: #FFF;
  font-family: 'SimHei';
  z-index: 1;
  font-weight: bold;
}

.desc .line{
  padding: 0 3%;
  font-size: 1.4em;
}

.desc .day{
  font-size: 1.2em;
}

.step1 .desc .line .w{
  padding: 0 2%;
}

.step1 .desc .line .day{
  padding: 0 2%;
}

.line-t{
  line-height: 50px;
}

.line-t2{
  line-height: 40px;
}

.line-t3{
  line-height: 30px;
}

.step1 .array{
  width: 60px;
  height: 60px;
  position: absolute;
  right: 12%;
  bottom: -50px;
}
