body {
  margin: 0;
  padding: 0;
  font: 14px "SimHei","Lucida Grande", Helvetica, Arial, sans-serif; }

  .home{
    position: relative;
  }

  img{
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .color1{
    color: #7263aa;
  }

  .color2{
    color: #4173ba;
  }

  .color3{
    color:#138c3c
  }

  .color4{
    color: #ec5214;
  }

  .color5{
    color:#e57a72;
  }

  .line1{
    height: 100px;
    line-height: 100px;
  }

  .line2{
    height: 75px;
    line-height: 75px;
  }

  .line3{
    height: 120px;
    line-height: 120px;
  }

  .login{
    width: 70%;
    left: 15%;
    position: absolute;
    z-index: 1;
    top: 30%;
  }

  .login .item{
    height: 100px;
    line-height: 100px;
    margin: 50px 0;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 0 2%;
  }

  .login .item .t{
    color: #FFF;
    font-size: 3em;
  }

  .login .item input{
      border: 0;
      height: 50px;
      border-radius: 10px;
      width: 65%;
      background: none;
      color: #fff;
      font-size: 3em;
    }

.home .button{
  width: 20%;
  position: absolute;
  z-index: 1;
  left: 40%;
  top: 40%;
}

.step1 .desc{
  position: absolute;
  top: 150px;
  left: 5%;
  width: 90%;
  background: #FFF;
  min-height: 500px;
  max-height: 700px;
  font-family: 'SimHei';
  font-size: 3em;
  z-index: 1;
  font-weight: bold;
}

.step1 .desc .line{
  margin-left: 5%;
  width: 100%;

}

.step1 .desc .line .w{
  font-size: 1.5em;
  padding: 0 2%;
}

.step1 .desc .line .hour{
  padding: 0 5%;
}

.step1 .desc .line .day{
  padding-left: 2%;
}

.step1 .array{
  width: 95px;
  height: 105px;
  position: absolute;
  right: 12%;
  top: 645px;
}
